version: '3.8'

services:
  backend:
    build: .
    container_name: ebook-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - postgres
    restart: always

  postgres:
    image: postgres:15
    container_name: ebook-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: minhnhi95
      POSTGRES_DB: nmnhi
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
